<ion-grid>
  <ion-row>
    <ion-col *ngIf="!showForm">
      <!-- searchbar -->
      <ion-row>
        <ion-col>
          <ion-searchbar (ionInput)="filterList($event)"></ion-searchbar>
        </ion-col>
      </ion-row>
      <!-- /searchbar -->
      <ion-row>
        <ion-col>
          <app-data-list [data]="students" emptyText="label.no.students" addText="label.add.student" (add)="onShowForm()">
            <ng-template #templateData let-item="item">
              <ion-item>
                <ion-label>{{ item.name + ' ' + item.surname }}</ion-label>
              </ion-item>
            </ng-template>
          </app-data-list>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col *ngIf="showForm">

    </ion-col>
  </ion-row>
</ion-grid>
