/* Estilos modificados para aceptar modos claro y oscuro 

.border-bottom {
  border-bottom: 1px solid var(--ion-color-medium);
}

.dark-theme .border-bottom {
  border-bottom-color: var(--ion-color-dark);
}

*/

// Estilos según el profe
.border-bottom {
  border-bottom: 1px solid black;
}
