<ion-menu side="end" contentId="content" menuId="content">
  <!-- header -->
  <ion-header>
    <ion-title>
      <ion-item lines="none">
        <ion-label>{{ 'label.menu' | translate }}</ion-label>
      </ion-item>
    </ion-title>
  </ion-header>
  <!-- /header -->
  <!-- content -->
  <ion-content>
    <ion-list *ngIf="!showUserInfo">
      <ion-item (click)="_userOrder.hasUser() ? logout() : showUserInfoPanel()">
        <ion-icon name="people-outline" slot="start"></ion-icon>
        <ion-label>
          {{ _userOrder.hasUser() ? 'label.logout' : 'label.start.session' | translate }}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="cart-outline" slot="start"></ion-icon>
        <ion-label>{{ 'label.see.order' | translate }}</ion-label>
        <ion-badge slot="end">{{ _userOrder.countProducts() }}</ion-badge>
      </ion-item>
    </ion-list>

    <app-login
      *ngIf="showUserInfo && !showCreateAccount"
      (back)="back()"
      (doLogin)="back()"
      (newAccount)="createNewAccount()">
    </app-login>

    <app-create-account
      *ngIf="showUserInfo && showCreateAccount"
      (back)="showLogin()">
    </app-create-account>

  </ion-content>
  <!-- /content -->
</ion-menu>

<ion-header translucent="">
  <ion-toolbar>

    <ion-buttons slot="start" class="backButton" (click)="goBack()">
      <ion-icon *ngIf="showBack" name="arrow-back-outline" color="light"></ion-icon>
    </ion-buttons>
    
    <ion-title class="ion-text-center">
      <ion-img src="assets/img/logo_app.jpg" class="logo"></ion-img>
    </ion-title>

    <ion-buttons slot="end">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
