<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ 'label.manage.events' | translate }}
    </ion-title>

    <ion-buttons
        *ngIf="isLoggedIn$ | async"
        slot="end"
        class="ion-margin-end"
        (click)="logout()">
      <ion-icon name="power-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-login *ngIf="(isLoggedIn$ | async) === false"></app-login>
  <app-add-edit-events *ngIf="isLoggedIn$ | async"></app-add-edit-events>
</ion-content>
