<ion-grid>
  <ion-row>
    <ion-col>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>
              {{ 'label.total' | translate }}
            </ion-label>
            <ion-text>{{ total }}</ion-text>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <app-data-list
            [data]="payments"
            [emptyText]="'label.no.payment' | translate"
            [showAdd]="false">
          </app-data-list>
        </ion-col>
      </ion-row>

    </ion-col>
  </ion-row>
</ion-grid>
