<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>coupons</ion-title>

    <ion-item slot="end" lines="none" (click)="checkPermissionsForCamera()">
      <ion-icon name="camera-outline"></ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="!showCamera">
  <!-- coupon-card -->
  <ion-card *ngFor="let coupon of coupons; let last = last" [ngClass]="{'margin-last': last}">
    <ion-img [src]="coupon.img"></ion-img>
    <ion-card-header>
      <ion-card-title>{{ coupon.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        <ion-label>{{ coupon.discount }}%</ion-label>
        <ion-button slot="end" (click)="changeActive(coupon)">
          {{ coupon.active ? 'Desactivar' : 'Activar'}}
        </ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <!-- /coupon-card -->
  <!-- card-button -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="start">
    <ion-fab-button [disabled]="!activeCoupons" (click)="goToCard()">
      <ion-icon name="card-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- /card-button -->
</ion-content>

<ion-fab slot="fixed" vertical="bottom" horizontal="start" *ngIf="showCamera">
  <ion-fab-button (click)="closeCamera()">
    <ion-icon name="close-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
