<form [formGroup]="eventForm" (ngSubmit)="addOrEditEvent()">

  <ion-item>
    <ion-input
      formControlName="title"
      [label]="'label.title.event' | translate"
      type="text"
      name="title">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label>{{ 'label.start.event' | translate }}</ion-label>
    <ion-datetime-button
      slot="end"
      displayFormat="DD MMM yyyy HH:mm" datetime="dateStart">
    </ion-datetime-button>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime
          [min]="minDate"
          formControlName="dateStart"
          id="dateStart"
          name="dateStart"
          [doneText]="'label.ok.text' | translate"
          [cancelText]="'label.cancel.text' | translate">
        </ion-datetime>
      </ng-template>
    </ion-modal>
  </ion-item>

  <ion-item>
    <ion-toggle [checked]="showEnd" name="show-end" (ionChange)="changeShowEnd()">
      {{ 'label.has.end.event' | translate }}
    </ion-toggle>
  </ion-item>

  <ion-item *ngIf="showEnd">
    <ion-label>{{ 'label.end.event' | translate }}</ion-label>
    <ion-datetime-button
      slot="end"
      displayFormat="DD MMM yyyy HH:mm" datetime="dateEnd">
    </ion-datetime-button>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime
          [min]="minDate"
          formControlName="dateEnd"
          id="dateEnd"
          name="dateEnd"
          [doneText]="'label.ok.text' | translate"
          [cancelText]="'label.cancel.text' | translate">
        </ion-datetime>
      </ng-template>
    </ion-modal>
  </ion-item>

  <ion-item>
    <ion-select
      formControlName="type"
      [label]="'label.type.event' | translate"
      [okText]="'label.ok.text' | translate"
      [cancelText]="'label.cancel.text' | translate"
      name="type">

      <ion-select-option value="blog">
        {{ 'label.type.post.event' | translate }}
      </ion-select-option>
      <ion-select-option value="video">
        {{ 'label.type.video.event' | translate }}
      </ion-select-option>
      <ion-select-option value="streaming">
        {{ 'label.type.streaming.event' | translate }}
      </ion-select-option>
      <ion-select-option value="udemy">
        {{ 'label.type.udemy.event' | translate }}
      </ion-select-option>

    </ion-select>
  </ion-item>

  <ion-item>
    <ion-input formControlName="url" [label]="'label.url.event' | translate" type="url" name="url">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-textarea formControlName="description" [label]="'label.description.event' | translate" name="description"></ion-textarea>
  </ion-item>

  <ion-button expand="block" type="submit">
    {{ (edit ? 'label.edit.event' : 'label.add.event') | translate }}
  </ion-button>

  <ion-button expand="block" type="button" (click)="newEvent()">
    {{ 'label.new.event' | translate }}
  </ion-button>

</form>
